.container {
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
}

.avatar {
  margin-right: 4px;
}

.name {
  font-weight: 700;
  margin-right: 12px;
}

.button {
  width: auto;
  height: 30px;
  font-size: 12px;
  border-radius: 3px;
  color: #fff;
  background-color: rgb(30, 8, 156);
}
